@keyframes x175v9v2-B {
  0% {
    opacity: 1;
    box-shadow: 0 0 2px 4px #e8e8df;
  }

  100% {
    opacity: .25;
    box-shadow: 0 0 20px 20px #e8e8df;
  }
}

.x13jnhi3:not(#\#) {
  background: linear-gradient(#636363 0%, #4b4b4b 45%, #373737 55%, #454545 100%);
}

.x11g6tue:not(#\#) {
  background: none;
}

.x1gs6z28:not(#\#) {
  border: none;
}

.x3v996n:not(#\#) {
  margin: 4px auto 0;
}

.x16zck5j:not(#\#) {
  margin: 5px;
}

.x14odnwx:not(#\#) {
  padding: 5px;
}

.x7v69y5:hover:not(#\#) {
  background: linear-gradient(90deg, #0000004d, #0000);
}

.x1xsqp64:not(#\#):not(#\#) {
  background-position: center;
}

.x1q4ynmn:not(#\#):not(#\#) {
  border-radius: 10px;
}

.x1m3ak92:not(#\#):not(#\#) {
  border-radius: 20px;
}

.x174e0gf:not(#\#):not(#\#) {
  border-radius: 30px;
}

.x12oqio5:not(#\#):not(#\#) {
  border-radius: 4px;
}

.x1f96onm:not(#\#):not(#\#) {
  border-radius: 50px;
}

.x1sxf85j:not(#\#):not(#\#) {
  border-radius: 5px;
}

.x15j7jsh:not(#\#):not(#\#) {
  margin-block: 5px;
}

.xuqyx9n:not(#\#):not(#\#) {
  margin-inline: 10px;
}

.xb3r6kr:not(#\#):not(#\#) {
  overflow: hidden;
}

.xj8oexa:not(#\#):not(#\#) {
  padding-block: 2px;
}

.x1awh872:not(#\#):not(#\#) {
  padding-inline: 10px;
}

.x6s0dn4:not(#\#):not(#\#):not(#\#) {
  align-items: center;
}

.x1jsoh5a:not(#\#):not(#\#):not(#\#) {
  background-color: #7f6234;
}

.x1sag07j:not(#\#):not(#\#):not(#\#) {
  background-color: #00000059;
}

.x1cw2gcf:not(#\#):not(#\#):not(#\#) {
  background-image: linear-gradient(#636363, #3c3c3c 1.5rem);
}

.x14gixet:not(#\#):not(#\#):not(#\#) {
  background-image: var(--backgroundImage);
}

.x25l62i:not(#\#):not(#\#):not(#\#) {
  background-size: 100%;
}

.xaoc119:not(#\#):not(#\#):not(#\#) {
  box-shadow: 0 0 2px #000000bf;
}

.xxgrknt:not(#\#):not(#\#):not(#\#) {
  box-shadow: 0 0 2px 2px #00000059;
}

html:not([dir="rtl"]) .x6twhum:not(#\#):not(#\#):not(#\#), html[dir="rtl"] .x6twhum:not(#\#):not(#\#):not(#\#) {
  box-shadow: inset 0 0 0 1px #ffffff1a, 0 0 0 2px #222, 0 3px 1px #ded771, 0 0 2px 1px #0006;
}

html:not([dir="rtl"]) .x1qsgzzv:not(#\#):not(#\#):not(#\#), html[dir="rtl"] .x1qsgzzv:not(#\#):not(#\#):not(#\#) {
  box-shadow: inset 0 1px 1px #ded771, inset 0 0 1px #ccc4660d, 0 0 1px 2px #0000000d, 0 2px 2px 2px #0000000d;
}

.x9f619:not(#\#):not(#\#):not(#\#) {
  box-sizing: border-box;
}

.x1gzvz0a:not(#\#):not(#\#):not(#\#) {
  color: #c3a971;
}

.xxamwa4:not(#\#):not(#\#):not(#\#) {
  color: #ccc;
}

.x15mquw7:not(#\#):not(#\#):not(#\#) {
  color: #e9dcbe;
}

.x16mibm7:not(#\#):not(#\#):not(#\#) {
  color: #000000de;
}

.x1awj2ng:not(#\#):not(#\#):not(#\#) {
  color: #fff;
}

.x1ypdohk:not(#\#):not(#\#):not(#\#) {
  cursor: pointer;
}

.x78zum5:not(#\#):not(#\#):not(#\#) {
  display: flex;
}

.xkcp37y:not(#\#):not(#\#):not(#\#) {
  filter: none;
}

.xdt5ytf:not(#\#):not(#\#):not(#\#) {
  flex-direction: column;
}

.x1pxj505:not(#\#):not(#\#):not(#\#) {
  font-family: JupiterProRegular;
}

.x193ceg3:not(#\#):not(#\#):not(#\#) {
  font-family: meiryo;
}

.x15rrvwm:not(#\#):not(#\#):not(#\#) {
  font-family: TrumpGothicPro;
}

.x1j61zf2:not(#\#):not(#\#):not(#\#) {
  font-size: 16px;
}

.xosj86m:not(#\#):not(#\#):not(#\#) {
  font-size: 18px;
}

.x1ulgg28:not(#\#):not(#\#):not(#\#) {
  font-size: 30px;
}

.x1tgwohi:not(#\#):not(#\#):not(#\#) {
  font-size: 40px;
}

.x1uzp5y5:not(#\#):not(#\#):not(#\#) {
  font-size: 42px;
}

.xl56j7k:not(#\#):not(#\#):not(#\#) {
  justify-content: center;
}

.xno9vxg:not(#\#):not(#\#):not(#\#) {
  letter-spacing: .25rem;
}

.xl5zsmt:not(#\#):not(#\#):not(#\#) {
  letter-spacing: 2px;
}

.xl1xv1r:not(#\#):not(#\#):not(#\#) {
  object-fit: cover;
}

.xe2zdcy:not(#\#):not(#\#):not(#\#) {
  padding-inline-start: 10px;
}

.x10l6tqk:not(#\#):not(#\#):not(#\#) {
  position: absolute;
}

.x1n2onr6:not(#\#):not(#\#):not(#\#) {
  position: relative;
}

.x2b8uid:not(#\#):not(#\#):not(#\#) {
  text-align: center;
}

.xdpxx8g:not(#\#):not(#\#):not(#\#) {
  text-align: left;
}

.x1hr2gdg:not(#\#):not(#\#):not(#\#) {
  text-align: right;
}

html:not([dir="rtl"]) .xjm6opz:not(#\#):not(#\#):not(#\#) {
  text-shadow: 1px 1px 1px #000;
}

html[dir="rtl"] .xjm6opz:not(#\#):not(#\#):not(#\#) {
  text-shadow: -1px 1px 1px #000;
}

html:not([dir="rtl"]) .x1hgq9w7:not(#\#):not(#\#):not(#\#) {
  text-shadow: 1px 1px 4px #000;
}

html[dir="rtl"] .x1hgq9w7:not(#\#):not(#\#):not(#\#) {
  text-shadow: -1px 1px 4px #000;
}

.x1c071of:not(#\#):not(#\#):not(#\#) {
  transform: none;
}

.xuxw1ft:not(#\#):not(#\#):not(#\#) {
  white-space: nowrap;
}

.x1uruofx:disabled:not(#\#):not(#\#):not(#\#) {
  filter: brightness(.65);
}

.xlcqwk8:hover:not(#\#):not(#\#):not(#\#) {
  filter: brightness(1.2);
}

.x1sjarlb:active:not(#\#):not(#\#):not(#\#) {
  transform: translateY(2px);
}

.x5yr21d:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 100%;
}

.x1qx5ct2:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 20px;
}

.x1vqgdyp:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 40px;
}

.xu96u03:not(#\#):not(#\#):not(#\#):not(#\#) {
  left: 0;
}

.x837sfr:not(#\#):not(#\#):not(#\#):not(#\#) {
  left: var(--left);
}

.x256u9z:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 250px;
}

.xt7fyls:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 150px;
}

.x1jzhcrs:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 200px;
}

.x13vifvy:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: 0;
}

.x1g9fk1a:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: var(--top);
}

.xh8yej3:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 100%;
}

.xw4jnvo:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 20px;
}

.x100vrsf:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 40px;
}

.x1h9ftd2:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  border-radius: 100%;
}

.xqynpor:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  animation-duration: .5s;
}

.xmcsnix:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  animation-name: x175v9v2-B;
}

.x1fsz3j:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  background-color: #fff8cb;
}

.x1s928wv:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  content: "";
}

.x1j6awrg:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  position: absolute;
}

.x13r0tq7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  height: 6px;
}

.x1qu55xf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  left: calc(50% - 3px);
}

.x1t6k8l6:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  top: calc(50% - 3px);
}

.xzkji8o:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):after {
  width: 6px;
}
